BW Node平台代码
[{"id":"ab7d6e42.a842","type":"tab","label":"流程 1","disabled":false,"info":""},{"id":"d86f54f2.d8cca8","type":"ui_group","name":"Score Rank","tab":"3dea107.9648cf","order":1,"disp":true,"width":"12","collapse":false},{"id":"237c68f4.7081d8","type":"mqtt-broker","name":"","broker":"118.31.53.253","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3dea107.9648cf","type":"ui_tab","name":"主页","icon":"dashboard","disabled":false,"hidden":false},{"id":"52563495.977a1c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"BWNode Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b999b03d.961a1","type":"python3-class","z":"ab7d6e42.a842","name":"冒泡排序","func":"# 部署节点后，当有流经过时会运行此处代码\nn = len(msg[\"payload\"])\nfor j in range(0, n - 1):\n    for i in range(0, n - 1 - j):\n        if msg[\"payload\"][i][\"value\"]> msg[\"payload\"][i+1][\"value\"]:\n            msg[\"payload\"][i], msg[\"payload\"][i+1] = msg[\"payload\"][i + 1], msg[\"payload\"][i]\n\n\nreturn msg","initialize":"# 部署节点后，此处添加的代码将运行一次。 \n#定义变量和方法时要使用self参考python类中的书写方法","finalize":"# 节点正在停止或重新部署时，将运行此处添加的代码。 \n","operatingmode":"massdata","ret":"obj","outputs":1,"x":560,"y":300,"wires":[["ad572f3f.72585"]]},{"id":"9a3aaac3.6b6fb8","type":"mqtt in","z":"ab7d6e42.a842","name":"","topic":"gamescore","qos":"2","datatype":"auto","broker":"237c68f4.7081d8","nl":false,"rap":true,"rh":0,"x":160,"y":500,"wires":[["59b5fa2b.6cec94","7516441d.a1fc3c"]]},{"id":"865e5760.a76e28","type":"debug","z":"ab7d6e42.a842","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":500,"wires":[]},{"id":"59b5fa2b.6cec94","type":"json","z":"ab7d6e42.a842","name":"","property":"payload","action":"","pretty":false,"x":350,"y":500,"wires":[["27d5de34.b25de2"]]},{"id":"815151c6.fc1de","type":"change","z":"ab7d6e42.a842","name":"从存储中取出 score","rules":[{"t":"set","p":"payload","pt":"msg","to":"score","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":300,"wires":[["b999b03d.961a1"]]},{"id":"62c1039e.024e9c","type":"inject","z":"ab7d6e42.a842","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":300,"wires":[["815151c6.fc1de"]]},{"id":"5c2f9dca.a4e304","type":"delay","z":"ab7d6e42.a842","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":300,"wires":[["815151c6.fc1de"]]},{"id":"27d5de34.b25de2","type":"change","z":"ab7d6e42.a842","name":"从存储中取出 score","rules":[{"t":"set","p":"score","pt":"msg","to":"score","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":500,"wires":[["9963a3b.01af36","cc2fca3c.430f68"]]},{"id":"9963a3b.01af36","type":"python3-class","z":"ab7d6e42.a842","name":"数据存入","func":"# 部署节点后，当有流经过时会运行此处代码 \n\nscore = []\n\nif('score' in msg.keys()):\n    score = msg['score']    \n    \nscore.append(msg[\"payload\"])\n\nmsg['score'] = score\n\nreturn msg","initialize":"# 部署节点后，此处添加的代码将运行一次。 \n#定义变量和方法时要使用self参考python类中的书写方法","finalize":"# 节点正在停止或重新部署时，将运行此处添加的代码。 \n","operatingmode":"massdata","ret":"obj","outputs":1,"x":720,"y":500,"wires":[["7ab38fae.ecd89"]]},{"id":"7ab38fae.ecd89","type":"change","z":"ab7d6e42.a842","name":"将 score 写入存储","rules":[{"t":"set","p":"score","pt":"flow","to":"score","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":500,"wires":[["865e5760.a76e28"]]},{"id":"eaf0e5b4.e427f8","type":"comment","z":"ab7d6e42.a842","name":"接收上传的分数","info":"","x":180,"y":440,"wires":[]},{"id":"c976256b.a754e8","type":"comment","z":"ab7d6e42.a842","name":"读取存储器的分数","info":"","x":210,"y":240,"wires":[]},{"id":"ad572f3f.72585","type":"python3-class","z":"ab7d6e42.a842","name":"画图数据组织","func":"# 部署节点后，当有流经过时会运行此处代码 \ndisplay = ''\n\nfor people in msg[\"payload\"]:\n    display += str(people['name']) + ': ' +'     '+ str(people['value'])+ '<br>' +'\\n'\n\nmsg[\"payload\"] = display\n\nreturn msg","initialize":"# 部署节点后，此处添加的代码将运行一次。 \n#定义变量和方法时要使用self参考python类中的书写方法","finalize":"# 节点正在停止或重新部署时，将运行此处添加的代码。 \n","operatingmode":"massdata","ret":"obj","outputs":1,"x":740,"y":300,"wires":[["5c2f9dca.a4e304","f09d8ca7.01c4a"]]},{"id":"f09d8ca7.01c4a","type":"ui_text","z":"ab7d6e42.a842","group":"d86f54f2.d8cca8","order":0,"width":"12","height":"6","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":930,"y":380,"wires":[]},{"id":"7516441d.a1fc3c","type":"debug","z":"ab7d6e42.a842","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":300,"y":600,"wires":[]},{"id":"cc2fca3c.430f68","type":"debug","z":"ab7d6e42.a842","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":600,"wires":[]},{"id":"5e8f1e71.e4f99","type":"comment","z":"ab7d6e42.a842","name":"排序后输出","info":"","x":660,"y":240,"wires":[]}]